#__next {
  margin-top: -120px
}

.header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .3s all;
    padding: 10px 0px 10px 0px;
    z-index: 101;
  }
  .header__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 80px;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .header__logo__container {
    width: 240px;
    height: 50px;
    position: relative;
  }

  .header__logo:hover {
    color: white;
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    top: 70px;
    right: 0;
    bottom: 0;
    background-color: #323C4B;
    z-index: 99;
    width: 300px;
    padding: 30px 30px 0;
    transform: translate3d(300px, 0, 0);
    transition: 0.1s;
  }
  .header__nav--active {
    transform: translate3d(0, 0, 0);
  }
  .header__nav-link {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    transition: .1s;
    text-transform: uppercase;
    color: #fff;
  }
  .header__nav-link i {
    font-size: 8px;
    margin-left: 5px;
  }
  .header__nav-link:hover {
    color: white;
    font-weight: bold;
  }
  .header__nav-link--more i {
    font-size: 20px;
  }
  .header__nav-link--active {
    color: #f9ab00;
  }
  .header__nav-item {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    position: relative;
  }
  .header__nav-item:last-child {
    margin-bottom: 0;
  }
  .header__nav-item.show .header__nav-link {
    color: #f9ab00;
  }
  .header__dropdown {
    position: relative;
    display: block;
    width: 100%;
  }
  .header__dropdown-menu {
    position: absolute;
    background-color: #222028;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-width: 200px;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    transition: 0.4s ease;
    margin-top: 0;
    top: 100%;
    border-radius: 6px;
  }
  .header__dropdown-menu div {
    width: 100%;
  }
  .header__dropdown-menu li {
    padding: 0;
    margin-bottom: 15px;
    width: 100%;
  }
  .header__dropdown-menu li:last-child {
    margin-bottom: 0;
  }
  .header__dropdown-menu a {
    font-size: 16px;
    color: #fff;
    display: block;
    font-weight: 400;
  }
  .header__dropdown-menu a:hover {
    color: #f9ab00;
  }
  .header__dropdown-menu.scrollbar-dropdown {
    max-height: 260px;
  }
  .header__dropdown-menu.show {
    z-index: 1000;
    pointer-events: auto;
    opacity: 1;
    margin-top: 10px;
  }
  .header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: relative;
  }
  .header__auth {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 42px;
  }
  .header__sign-in {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 6px;
    margin-left: 20px;
    border: 2px solid #222028;
  }
  .header__sign-in span {
    display: none;
  }
  .header__sign-in i {
    color: #fff;
    font-size: 22px;
  }
  .header__sign-in:hover {
    background-color: rgba(0,0,0,0.5);
  }
  .header__sign-in:hover span {
    color: #fff;
  }
  .header__btn {
    display: block;
    position: absolute;
    right: 0;
    color: white;
    margin-right: 20px;
    top: 50%;
    margin-top: -22px;
    width: 22px;
    height: 40px;
  }
  .header__btn span {
    display: block;
    position: absolute;
    height: 2px;
    width: 22px;
    background: #000;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.4s ease;
    top: 13px;
    background-color: #fff;
    border-radius: 2px;
  }
  .header__btn span:nth-child(2) {
    top: 21px;
  }
  .header__btn span:nth-child(3) {
    top: 29px;
  }
  .header__btn:hover span {
    background-color: white;
  }
  .header__btn--active span {
    background-color: white;
  }
  .header__btn--active span:nth-child(1) {
    top: 21px;
    transform: rotate(45deg);
  }
  .header__btn--active span:nth-child(2) {
    opacity: 0;
  }
  .header__btn--active span:nth-child(3) {
    top: 21px;
    transform: rotate(-45deg);
  }
  .header__lang {
    position: relative;
    margin-left: 20px;
  }
  .header__lang .header__dropdown-menu {
    min-width: 122px;
    margin-top: -10px;
  }
  .header__lang .header__dropdown-menu.show {
    margin-top: 0;
  }
  .header__lang .header__nav-link {
    height: 70px;
  }
  .header__lang.show .header__nav-link {
    color: #222028;
  }
  .header__search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #fff;
    font-size: 22px;
  }
  .header__search-btn:hover {
    color: #222028;
  }
  .header__search {
    position: absolute;
    background-color: #1a191f;
    top: -70px;
    right: -15px;
    left: -15px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    padding: 0 15px;
    pointer-events: none;
    transition: top 0.4s;
  }
  .header__search--active {
    top: 0;
    pointer-events: auto;
  }
  .header__search-input {
    width: calc(100% - 35px);
    height: 40px;
    border-radius: 6px;
    background-color: #222028;
    border: 2px solid transparent;
    font-size: 16px;
    color: #fff;
    padding: 0 50px 0 20px;
  }
  .header__search-input:focus {
    border-color: #222028;
  }
  .header__search-button {
    position: absolute;
    height: 40px;
    color: #fff;
    font-size: 22px;
    top: 50%;
    margin-top: -20px;
    right: 75px;
  }
  .header__search-button:hover {
    color: #323C4B;
  }
  .header__search-close {
    position: absolute;
    height: 40px;
    color: #fff;
    font-size: 22px;
    top: 50%;
    margin-top: -20px;
    right: 15px;
  }
  .header__search-close:hover {
    color: #323C4B;
  }

  .header__search-container {
    position: relative;
    width: 50px;
    display: inline-block;
  }

  .header__search-container.active {
    width: 260px;
  }
  
  .header__search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: white; /* Color por defecto de la lupa */
  }
  
  .header__search-icon.active {
    color: #333C4A; /* Color de la lupa cuando el input está activo */
  }
  
  .header__search-input {
    width: 100%;
    height: 40px;
    padding: 5px 45px 5px 10px !important; /* Espacio a la izquierda para el icono de lupa */
    border: 1px solid #ccc;
    border-radius: 5px;
    opacity: 0;
    transition: width 0.3s, opacity 0.3s;
    color: #333C4A; /* Color del texto de búsqueda */
    background-color: rgba(255,255,255,0.9);
  }
  
  .header__search-input::placeholder {
    color: #323D4A;
  }
  .header__search-input:focus {
    outline: none;
  }

  .header__btn:hover span {
    background-color: white;
  }

  @media (min-width: 360px) {
    .header__search--active {
        top: 0;
        pointer-events: auto;
        width: 100%; /* Asegura que ocupe el ancho completo */
        background-color: #fff; /* Fondo blanco */
        z-index: 102; /* Asegura que esté por encima de otros elementos */
    }
    
    .header__search-input {
        width: 100%; /* Asegura que el input ocupe el ancho completo */
        background-color: #fff; /* Fondo blanco para el input */
        border: none; /* Elimina el borde */
        padding: 10px; /* Agrega padding para mejor apariencia */
    }
    .header__logo {
        margin-left: 50px;
      width: 110px;
    }
    .header__nav {
        justify-content: flex-start;
    }
  }
  @media (min-width: 576px) {
    .header__sign-in,
    .header__lang {
      margin-left: 30px;
    }
    .header__auth {
      margin-right: 52px;
    }
    .header__lang .header__dropdown-menu {
      min-width: 140px;
    }
  }
  @media (min-width: 768px) {
    .header__content {
      height: 80px;
    }
    .header__logo {
      margin-left: 50px;
      height: 80px;
      width: 120px;
    }
    .header__auth {
      margin-right: 52px;
    }
    .header__sign-in {
      height: 40px;
      width: 120px;
      margin-left: 30px;
    }
    .header__sign-in i {
      display: none;
    }
    .header__sign-in span {
      display: block;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
      transition: color 0.4s;
    }
    .header__nav {
      top: 80px;
      width: 260px;
      justify-content: flex-start;
      transform: translate3d(260px, 0, 0);
    }
    .header__nav--active {
      transform: translate3d(0, 0, 0);
    }
    .header__lang .header__nav-link {
      height: 80px;
    }
  }
  @media (min-width: 1200px) {
    .header__sign-in {
      margin-left: 30px;
    }
    .header__auth {
      margin-right: 0;
    }
    .header__btn {
      display: none;
    }
    .header__nav {
      transform: translate3d(0, 0, 0);
      /*padding: 0;*/
      padding-top: 0px;
      background-color: transparent;
      width: auto;
      flex-direction: row;
      align-items: center;
      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      margin-left: auto;
      box-shadow: none;
      border: none;
    }
    .header__nav-item {
      margin: 0 35px 0 0;
      width: auto;
    }
    .header__nav-item:last-child {
      margin: 0;
    }
    .header__nav-link {
      line-height: 80px;
    }
    .header__nav-link--active {
      color: #f9ab00;
      cursor: default;
      position: relative;
    }
    .header__nav-link--active:hover {
      color: #f9ab00;
    }
    .header__content {
      justify-content: flex-start;
    }
    .header__auth {
      margin-left: auto;
      justify-content: flex-end;
      width: 426px;
    }
    .header__dropdown-menu {
      margin-top: -10px;
    }
    .header__dropdown-menu.show {
      margin-top: 0;
    }
    .header__lang {
      margin-left: 30px;
      margin-right: auto;
    }
    .header__search-btn {
      display: none;
    }
    .header__search-close {
      display: none;
    }
    .header__search {
      position: relative;
      opacity: 1;
      pointer-events: auto;
      padding: 0;
      top: auto;
      right: auto;
      left: auto;
      bottom: auto;
      background-color: transparent;
    }
    .header__search-input {
      width: 200px;
    }
    .header__search-button {
      right: 20px;
    }
  }
  @media (min-width: 1440px) {
    .header__auth {
      width: 494px;
    }
    .header__nav-item {
      margin: 0 45px 0 0;
    }
    .header__nav-item:last-child {
      margin: 0;
    }
    .header__search-input {
      width: 232px;
    }
  }

footer {
  width: 100%;
  height: 80px;
  padding-inline: 40px;
  background-color: #323C4B;
  border-top: 1px solid rgba(0,0,0,0.2);
}

footer .footer-logo-container {
  margin-top: 18px;
  position: relative;
  width: 200px;
  height: 40px;
}

footer .copyright {
  height: 70px;
  display: flex;
  align-items: center;
  color: white;
}

footer .copyright p {
  margin-top: 20px;
}

@media (max-width: 1400px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    width: 100% !important;
    height: 100% !important;
  }

  .ReactModal__Content .react-tabs__tab-panel .channels-tab {
    height: 100% !important;
  }

  .ReactModal__Content .react-tabs__tab-panel .channels-tab div {
    width: 30% !important;
  }
}

@media (max-width: 1024px) {
  footer {
    height: 100px;
  }

  footer .copyright p {
    margin-top: 40px;
  }

  footer .footer-logo-container {
    margin-top: 30px;
    margin-left: 40px;
  }
}

@media (max-width: 760px) {
  footer {
    height: 170px;
  }

  footer .copyright p {
    text-align: center;
  }

  footer .footer-logo-container {
    margin: 0 auto;
    margin-top: 30px;
  }

  .header .container-fluid {
    padding-right: 40px !important;
    padding-left: 20px !important;
  }

  .header__btn {
    margin-right: 0px;
  }

  .header__search-container {
    margin-right: 40px;
  }

  .header__logo__container {
    width: 260px;
  }

  .header__logo {
    width: 160px;
  }
  
  .header__search-container.active {
    width: 100vw;
    position: absolute;
    z-index: 4;
    margin-left: -20px;
    top: 0;
    margin-top: -10px;
    border-radius: 0px;
    height: 70px;
  }

  .header__search-icon.active {
    margin-right: 20px;
  }

  .header__search-input.active {
    height: 100%;
    width: 100% !important;
    padding-left: 20px !important;
    padding-right: 70px !important;
    border-radius: 0px;
  }

  .header__nav {
    width: 100%;
    visibility: hidden;
    text-align: center;
    justify-content: flex-start;
  }

  .body--active .header__nav {
    visibility: visible;
  }

  .header__nav-item {
    margin-top: 40px;
  }

  .body--active .header {
    background-color: #323C4B !important;
  }
}
