

.programmes-grid {
  padding-inline: 40px;
}

.programmes-grid-list {
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.channel-row {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw !important;
  overflow-y: hidden;
  overflow-x: hidden; 
  margin: 20px 0px 0px 0px;
}

.channel-row::-webkit-scrollbar {
  display: none;
}

.channel-main {
  padding: 20px;
  border-radius: 0px;
  display: flex;
  background-color: RGBA(255,255,255,0.05);
  border-radius: 5px 5px 0px 0px;
  align-items: center;
  min-width: 120px;
  width: 100%;
}

.channel-main h3 {
  max-width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
  color: white;
  font-size: 1.1rem;
  padding-inline: 10px;
}

.programme-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.programme-container::-webkit-scrollbar {
  display: none;
}

@media(min-width: 1260px) {
  .programme-container::-webkit-scrollbar {
    display: block;
  }
}

.programme-container:first-child img {
  border-radius: 0px 0px 0px 10px !important;
}

.programme-main {
  display: flex;
  cursor: pointer;
  flex-wrap: wrap;
  height: 450px;
  padding: 20px;
  position: relative;
  min-width: 24%;
  width: 25%;
  z-index: 0;
}

.show-more-button {
  margin-left: 20px;
  margin-top: 20px;
}

.programme-main:hover::after {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.programme-main .left-div {
  width: 95%;
  display: flex;
  flex-direction: column;
  color: #151314;
  background-color: RGBA(255,255,255,0.9);
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 2.5%;
  margin-bottom: 15px;
  z-index: 2;
}

.programme-main .right-div .programme-image {
  object-fit: cover;
  border-radius: 5px;
  object-position: 55% 80%;
  width: 100% !important;
  position: relative;
  height: 200px !important;
}

.programme-main span {
  text-align: left;
  font-size: .9rem;
  width: 100%;
  font-weight: 500;
  width: 100%;
  margin-bottom: 5px;
}

.programme-main h4 {
  font-size: 1.2rem;
  font-weight: 800 !important;
  text-align: left;
  margin-bottom: -10px;
  font-weight: 400;
  width: 100%;
}

.programme-main p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 90px;
  width: 100%;
}

.programme-main a {
  width: 50%;
  display: none;
  margin-top: -40px;
  text-align: left;
  padding: 10px;
  background-color: #151314;
  border-color: #6a7688;
  color: white;
  border-radius: 5px;
  border: 1px solid;
}

.timer-container {
  display: inline-flex;
  justify-content: space-between;
  margin-top: -8px;
}

.programme-hour {
  font-weight: 500 !important;
  font-size: 0.9rem !important;
}

.time-hour {
  font-weight: 700 !important;
}

.programme-main a:hover {
  background-color: #6a7688;
}

.content {
    padding: 0 0 30px;
}

.content--profile {
  padding-bottom: 50px;
}

.content__head {
  padding: 20px 0;
  height: 65vh;
  display: flex;
  align-items: flex-end;
  max-width: 100vw;
  background: url('/img/background-hero.jpg');
  background-size: cover;
  background-position: 50% 60%;
  background-attachment: fixed;
  width: 100vw;
  position: relative;
  text-align: center;
}

.content__head::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 120%;
  margin-bottom: -30px;
  margin-left: -20px;
  bottom: 0;
  left: 0;
  background: #333C4A; /* Hereda el mismo fondo */
  z-index: 2; /* Asegúrate de que este valor sea mayor que cualquier otro elemento dentro de .content__head */

  /* Aquí está el desenfoque */
  filter: blur(10px); /* Puedes ajustar el valor según lo borroso que lo quieras */

  /* Usamos mask-image para que solo la parte inferior esté desenfocada */
  mask-image: linear-gradient(to top, #333C4A 10%, transparent);
}

.content__title {
  margin-bottom: 50px;
  color: white;
  font-weight: 700;
  z-index: 99 !important;
}

.filter__buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 25px;
  z-index: 1;
}

.filter__buttons button {
  padding-inline: 8%;
  width: 45%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: #DEE2E5;
  font-weight: 600;
  color: #151314;
  border-radius: 5px;
}

.filter__buttons button:hover {
  background-color: #151314;
  color: #DEE2E5;
}

.filter__buttons button.middle {
  margin-inline: 3px;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-inline: 50px;
  margin: auto;
}

.channelAndHour {
  display: flex;
  align-items: center;
  width: 98%;
}

.channelAndHour span {
  margin-right: 10px;
}

.timeFilter {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
  align-items: flex-start;
}

.channelFilter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.filterButton {
  padding: 10px;
  padding-left: 0px;
  width: 30%;
  border: none;
  border-radius: 5px;
  color: #333C4A;
  background-color: white;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

button.filterButton.timeButton.active {
  font-weight: 700 !important;
}

.updatingChannels {
  text-align: center;
  color: white;
  width: 100%;
  margin-left: 15px;
  margin-top: 20px;
}

.searchInput {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.basic-multi-select {
  width: 100%;
}

.basic-multi-select .select__control {
  border-radius: 5px;
  border: none;
  box-shadow: none;
}

.basic-multi-select .select__control--is-focused {
  border: none;
  box-shadow: none;
}

.basic-multi-select .select__multi-value__remove {
  cursor: pointer;
  border-radius: 2px;
  background-color: #151314;
  margin-left: 5px;
  color: white;
}

.basic-multi-select .select__multi-value__remove:hover {
  background-color: #151314;
  color: white;
}

@media (min-width: 360px) {
  .content {
    padding: 0 0 40px;
  }
  .content--profile {
    padding-bottom: 70px;
  }
  .content__title {
    font-size: 2rem;
  }
  .content__head {
    padding: 30px 0 0;
  }

}

@media (min-width: 1200px) {
  .content__title {
    font-size: 3rem;
  }
}

.channel-info {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.channel-info img {
  margin-right: 20px !important;
  width: 70px;
  margin-top: -10px;
}

.channel-info h3 {
  color: white;
}

.channel-display-loop {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
}

.channel-display-loop::-webkit-scrollbar {
  display: none;
}

.button-scroll {
  font-size: 3rem;
  margin-top: -15px;
  border-radius: 10px;
  color: #f9ab00;
}

.button-scroll.left {
  margin-right: 20px;
}

.button-scroll.right {
  margin-left: 20px;
}

.filters-container {
  z-index: 3;
}


@media screen and (max-width: 1600px) {
  .filters-container {
    width: 80%;
  }
}

.separator {
  height: 1px;
  width: 100%;
  background-color: #151314;
}

.chargement-display {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px
}

.chargement-display p {
  font-size: 28px;
  font-weight: 400;
  color: white;
}

.chargement-display p span {
  font-weight: 600;
}

@media (max-width: 1600px) {
  .chargement-display p {
    font-size: 20px;
    text-align: center;
  }
}

.filterContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: space-between; 
}

.channelFilter {
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: space-between;
}

.channelAndHour {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
}

/* Estilos para los botones de reinicio y tiempo. Puedes ajustarlos a tus necesidades */
.filterButton {
  margin: 0 10px;
}

/* Estilos específicos para móvil */
@media (max-width: 767px) { /* Puedes ajustar el breakpoint según tus necesidades */
  .channelAndHour {
    flex-direction: column;
  }
  
  .channelFilter {
    flex-direction: column-reverse;
  }
}

.expand-button {
  margin-left: auto;
  padding: 10px;
  padding-inline: 20px;
  font-size: 1.2rem;
  margin-right: 20px;
  color: #323D4A;
  font-weight: bold;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.2);
  transition: .3s all;
}

.expand-button:hover {
  background-color: rgba(255,255,255,0.4);
}

.programme-container .programme-main:first-child .programme-image {
  border-bottom-left-radius: 5px; /* ajusta el valor según necesidad */
}

.programme-container .programme-main:last-child .programme-image {
  border-bottom-right-radius: 5px; /* ajusta el valor según necesidad */
}

.programme-main {
  transition: .3s all;
}

.programme-main::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);  /* Overlay negro con 50% de opacidad */
  z-index: 1;  /* Asegúrate de que esté por encima de la imagen de fondo */
  transition: .3s all;
}

.programme-main:hover::before {
  display: none;  /* Oculta el overlay al hacer hover */
}

.home-hero .basic-multi-select .select__control .select__placeholder {
  color: #151314;
}

.home-hero .channelFilter {
  flex-direction: row;
}

.home-hero .channelFilter .timeFilter, .home-hero .channelFilter .channelAndHour {
  width: 50%;
  text-align: center;
}

.home-hero .channelFilter .channelAndHour .basic-multi-select {
  margin-top: 20px;
  text-align: center;
}

.home-hero .hourSearch {
  text-align: center;
}

.home-hero .channelFilter .channelAndHour .basic-multi-select .select__control {
  padding: 4px 40px 4px 40px;
}

.channel-container .title-category-container, .programme-container .title-category-container {
  text-align: start;
}

.channel-container .programme-hour, .programme-container .programme-hour {
  margin-inline: 20px;
}

.programme__image {
  width: 100%;
  height: 400px;
  margin-top: 30px;
  border-radius: 10px;
}

.programme__image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.programme__image-container *{
  border-radius: 10px;
}

.search-result-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.search-result-container .image-container {
  position: relative;
  width: 100%;
  height: 200px; /* Puedes ajustar la altura según lo que necesites */
  overflow: hidden;
  border-radius: 5px 0px 0px 5px;
  background-color: white;
  padding: 20px;
}

.search-result-container .image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
}

.filterButton {
  padding: 10px;
  width: 750px;
  text-align: center;
  border: none;
  border-radius: 5px;
  z-index: 3;
  color: #333C4A;
  background-color: white;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.no-results {
  text-align: center;
  padding: 20px 0;
  font-size: 2rem;
  margin-bottom: 200px;
  color: white;
}


.header__search-input.active {
  width: 200px;
  opacity: 1;
}

@media (max-width: 760px) {
  .home-hero .programmes-grid {
    padding-inline: 0px
  }
  .home-hero .filterButton {
    width: 100%;
  }
  .home-hero .channel-row {
    margin: 0 auto;
  }

  .home-hero .channel-row .programme-container  {
    border-radius: 0px 0px 5px 5px;
  }

  .home-hero .channel-row .programme-container .programme-main .left-div *{
    text-align: center;
    width: 100%;
    justify-content: center;
  }

  .home-hero .channel-row .programme-container .programme-main .left-div  .home-hour {
    align-items: center;
  }

  .home-hero .channel-row .programme-container .programme-main .left-div .time-hour {
    width: auto;
    margin-top: 5px;
  }

  .home-hero .channel-row .programme-container .programme-main .left-div .timer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-hero .channel-row .programme-container .programme-main .left-div div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 0px;
  }

  .home-hero .channel-row .expand-button {
    margin-right: 0px;
  }

  .home-hero .channelFilter {
    flex-direction: column;
  }

  .home-hero .filterContainer {
    padding-inline: 0px;
  }

  .home-hero .channelAndHour {
    margin-top: 10px;
  }

  .home-hero .timeFilter {
    margin-top: 20px;
  }

  .content__title {
    font-size: 3rem;
  }

  .home-hero .select__input * {
    font-size: 1rem;
  }

  .home-hero .channelAndHour {
    width: 100%;
  }

  .home-hero .basic-multi-select .select__control {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    padding-inline: 25px;
    width: 100%;
  }

  .channel-container .channelFilterContainer {
    position: relative;
    z-index: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -100px;
  }

  .channel-container .channelFilterContainer .channelSearchContainer {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .channel-container .hourSearchContainer {
    width: 100%;
  }

  .home-hero .filterContainer {
    margin-bottom: 0px;
  }

  .channel-container .programme-hour {
    align-items: center;
    margin-top: 5px;
  }

  .home-hero .channelFilter .timeFilter, .home-hero .channelFilter .channelAndHour  {
    width: 100%;
  }

  .home-hero .channelFilter .channelAndHour {
    margin-top: 0px;
  }

  .channel-container .title-category-container, .programme-container .title-category-container {
    text-align: center;
  }

  .channel-container .programme-hour, .programme-container .programme-hour {
    margin-inline: 0px;
  }

  .programme-container .programme-hour {
    align-items: center;
    margin-top: 10px;
  }

  .programme__info {
    width: 100%;
  }

  .programme__image {
    height: 200px;
  }

  .search-result-container .image-container {
    height: 150px; 
  }

  .filterButton.searchFilter {
    width: 270px;
    margin-bottom: -50px;
  }
}

.hero__overlay {
  /* Aquí puedes ajustar el nivel de opacidad si lo deseas */
  background-color: rgba(0, 0, 0, 0.5);
}

